.main-header {
  width: 100%; /* Změněno z min-width na width */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Změněno z center na space-between */
  background: #990000;
  padding: 0 100px;
  height: 10vh;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-container {
  margin-right: 32px;
}

.header-logo {
  height: 10vh;
  width: auto;
}

.menu-toggle {
    display: flex; /* Zobrazení tlačítka */
    justify-content: center;
    align-items: center;
    background: #990000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
  }

  .menu-toggle:hover {
    background: #b30000;
  }

  .nav-menu {
    display: flex;
    justify-content: right;
    gap: 24px;
    width: 100%; /* Přidáno pro roztažení přes celý header */
  }

  .nav-link {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.2s;
}

#activeCard.nav-link {
  text-decoration: underline;
  text-decoration-color: #fff8f0; /* Nastavení méně výrazné barvy podtržení */
}

#activeCard.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #ffdd57; /* Nastavení méně výrazné barvy podtržení */
}

.nav-link:hover {
  /* background: #b30000; */
  text-decoration: underline;
  text-decoration-color: #ffdd57; /* Nastavení méně výrazné barvy podtržení */
}

.login-link {
  background: #ffd600;
  color: #990000;
  font-weight: bold;
  margin-left: 24px;
}

.login-link:hover {
  background: #ffe066;
  text-decoration: underline;
  text-decoration-color: #990000; /* Nastavení méně výrazné barvy podtržení */
}



@media (min-width: 1200px) {
  .menu-toggle {
    display: none; /* Skrytí tlačítka na větších obrazovkách */
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    }
}

/* Media query pro šířku menší než 1200px */
@media (max-width: 1200px) {
  .main-header {
    flex-direction: column; /* Uspořádání obsahu vertikálně */
    height: auto; /* Automatická výška */
    padding: 16px; /* Přidání paddingu */
  }

  .nav-menu {
    display: none; /* Skrytí navigačního menu */
    flex-direction: column; /* Vertikální zobrazení položek */
    gap: 16px; /* Mezera mezi položkami */
    background: #990000; /* Barva pozadí menu */
    position: absolute;
    top: 100%; /* Pod headerem */
    left: 0;
    width: 100%; /* Roztažení přes celou šířku */
    padding: 16px 0;
    z-index: 999; /* Zajištění, že menu bude nad ostatními prvky */
  }

  .nav-menu.active {
    display: flex; /* Zobrazení menu při aktivaci */
  }

  

  .logo-container {
   display: none; /* Skrytí loga na větších obrazovkách */
  }
}

